@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

html,
body,
div {
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
	box-sizing: border-box;
}

body {
	line-height: 1rem;
	letter-spacing: 0.05rem;
	font-family: 'Roboto', sans-serif;
	font-size: $font-med;
	overflow-x: hidden;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a,
a:visited,
a:hover {
	text-decoration: none;
	color: inherit;
}

.container {
	padding: 0 1.5rem;
}

// Visibility
.hide-mobile {
	@include breakpoint-down(medium) {
		display: none;
	}
}

.hide-desktop {
	@include breakpoint-up(large) {
		display: none;
	}
}

//Media @ 640px, 1024px, 1400px
@media (max-width: 640px) {
	.header {
		&__logo {
			img {
				max-width: 8.125rem;
			}
		}
	}
}
