@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

html,
body,
div {
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
	box-sizing: border-box;
}

body {
	// position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	line-height: 1rem;
	letter-spacing: 0.05rem;
	font-family: 'Roboto', sans-serif;
	font-size: $font-med;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a,
a:visited,
a:hover {
	text-decoration: none;
	color: inherit;
}
// Sticky footer = absolute
.content {
	min-height: calc(100vh - 200px);
}

.container {
	min-height: 100vh; //need for scroll
}
// ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

.overlay {
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	// z-index: 10;
	background-image: linear-gradient($logoBlue, transparent);
}

.fade-in {
	animation: fade-in 250ms ease-in-out forwards;
}

.fade-out {
	animation: fade-out 250ms ease-in-out forwards;
}

@keyframes fade-in {
	from {
		visibility: hidden;
		opacity: 0;
	}
	1% {
		visibility: visible;
		opacity: 0;
	}

	to {
		visibility: visible;
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		visibility: visible;
		opacity: 1;
	}

	to {
		visibility: hidden;
		opacity: 0;
	}
}

// Visibility
.hide-mobile {
	@include breakpoint-down(medium) {
		display: none;
	}
}

.hide-desktop {
	@include breakpoint-up(large) {
		display: none;
	}
}

//Media @ 640px, 1024px, 1400px
@media (max-width: 640px) {
	html {
		font-size: 115%;
	}
}

@media (max-width: 1024px) {
	html {
		font-size: 105%;
	}
}
