@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1rem;
  letter-spacing: 0.05rem;
  font-family: 'Roboto', sans-serif;
  font-size: $font-med;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

// Visibility
.hide-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}

// 640px, 1024px, 1400px
@media (max-width: 640px) {
  html {
    font-size: 75%;
  }
}
