.header {
	background-color: rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(5px);
	nav {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		padding: 0.5rem 7% 1rem 7%;
	}
	&__logo {
		img {
		}
	}

	&__burger-link {
		transition: all ease-in-out 200ms;
		> span {
			display: block;
			height: 2px;
			width: 26px;
			background-color: black;
			transition: all 260ms ease-in-out;
			transform-origin: 3px 1.5px;

			&:not(:last-child) {
				margin-bottom: 5px;
			}
		}
		&.open {
			> span:first-child {
				transform: rotate(45deg);
			}
			> span:nth-child(2) {
				opacity: 0;
			}
			> span:last-child {
				transform: rotate(-45deg);
			}
		}
		&:hover {
			cursor: pointer;
		}
	}

	&__menu {
		visibility: hidden;
		position: absolute;
		width: calc(100% - 3rem);
		left: 50%;
		transform: translate(-50%);
		background-color: #fff;
		margin-top: 1rem;
		padding: 1.625rem;
		border-radius: 3px;

		a {
			display: block;
			padding: 0.625rem;
			color: #000;
			text-align: center;
		}
	}

	&__submenu {
		position: absolute;
		top: 0;
		right: 0;
		padding-top: 0.65rem;
		margin-right: 2.7%;

		&__submenu-mobile {
			display: inline-flex;
			justify-content: center;
			align-items: center;
		}

		&__submenu-desktop {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			&:hover {
				color: $logoBlue;
				cursor: pointer;
			}
		}
	}

	&__links {
		a {
			font-size: $font-lg;
			transition: all 200ms ease-in-out;

			&:not(:last-child) {
				margin-right: 4rem;
			}
			&:hover {
				color: $logoBlue;
			}
		}
	}

	&__icons {
		margin: 0 1rem;
		transition: all 200ms ease-in-out;

		&:hover {
			cursor: pointer;
			color: $logoBlue;
		}
	}
}

.overlay {
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient($logoBlue, transparent);
}
