.remax {
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 0.25rem;

	> span {
		font-size: $font-xs;
		color: #000;
		&:first-child {
			margin-right: 0.4rem;
		}
		&:last-child {
			margin-left: 0.4rem;
		}
	}

	> img {
		max-width: 4.5rem;
	}
}
