.submenu {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	margin-right: 2rem;

	&__mobile {
		> a {
			&:first-child {
				margin-right: 1.5rem;
			}
		}
	}

	&__desktop {
		color: #fff;
		font-size: $font-sm;
		transition: all 200ms ease-in-out;

		&:hover {
			cursor: pointer;
			color: $logoBlue;
		}
	}

	&__icons {
		color: #fff;
		font-size: $font-sm;
		transition: all 200ms ease-in-out;

		&:hover {
			cursor: pointer;
			color: $logoBlue;
		}
	}
}
