// Colors
$logoBlue: #0b4459;
$lightGlass: rgba(255, 255, 255, 0.15); // backdrop-filter: blur(5px);

// Font Sizes
$font-xs: 0.6875rem; //11px
$font-sm: 0.875rem; //14px
$font-med: 1.125rem; //18px
$font-lg: 1.3125rem; //21px
